<div class="container" class="detail-container">
    <div class="offcanvas-header">
        <h2 class="offcanvas-title" id="offcanvasLabel">狀態</h2>
        <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Close"
            mat-dialog-close></button>
    </div>
    <mat-dialog-content>
        <!--內容顯示區-->
        <div class="row">
            <div class="col">
                <mat-list-item>
                    <h4><b>發文者:</b></h4>
                </mat-list-item>
                <mat-list-item>
                    <h4><b>單位主管:</b></h4>
                </mat-list-item>
                <mat-list-item>
                    <h4><b>副總:</b></h4>
                </mat-list-item>
                <mat-list-item>
                    <h4><b>總經理:</b></h4>
                </mat-list-item>
                <mat-list-item>
                    <h4><b>機設:</b></h4>
                </mat-list-item>
                <mat-list-item>
                    <h4><b>軟體(Motion):</b></h4>
                </mat-list-item>
                <mat-accordion>
                    <mat-expansion-panel hideToggle>
                        <mat-expansion-panel-header>
                            <mat-panel-title>
                                王大明，機設
                            </mat-panel-title>
                            <mat-panel-description>
                                請協助處理(2020/05/20 05:20)
                            </mat-panel-description>
                        </mat-expansion-panel-header>
                        <p>王中明，已轉正式訂單(2020/05/20 05:20)</p>
                    </mat-expansion-panel>
                    <mat-expansion-panel hideToggle>
                        <mat-expansion-panel-header>
                            <mat-panel-title>
                                陳大明，軟體
                            </mat-panel-title>
                            <mat-panel-description>
                                配合處理(2020/05/20 05:20)
                            </mat-panel-description>
                        </mat-expansion-panel-header>
                        <p>陳中明，軟體撰寫(2020/05/20 05:20)</p>
                    </mat-expansion-panel>
                </mat-accordion>
                <mat-list-item>
                    <h4><b>結束:</b></h4>
                </mat-list-item>
            </div>
        </div>
    </mat-dialog-content>
    <mat-dialog-actions>
        <button mat-button class="btn-normal reset" type="reset" mat-dialog-close>關閉</button>
    </mat-dialog-actions>
</div>