<div class="container">
    <div class="row">
        <div class="col-md-12">
          <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
              <li class="breadcrumb-item"><a href="/main/dashboard">首頁</a></li>
              <li class="breadcrumb-item active">專案計畫管理</li>
              <li class="breadcrumb-item active" aria-current="page">任務延伸範本管理</li>
            </ol>
          </nav>
        </div>
    </div>
    <!--標題-->
    <div class="row">
        <div class="col-md-12 text-center">
            <div class="left">
                <h1>
                    <mat-icon>description</mat-icon>
                    <span class="text-left">
                        任務延伸範本管理
                    </span>
                </h1>
            </div>
        </div>
    </div>
    <!--查詢區域-->
    <div class="row">
        <div class="col-md-12 ">
            <div class="form-group pt-3 pb-0">
                <mat-card class="card search-group">
                    <mat-form-field appearance="outline" style="width:200px">
                        <mat-label>專案任務名稱</mat-label>
                        <input matInput type="text" name="">
                    </mat-form-field>
                    <button mat-button matTooltip="搜尋" class="btn">
                        <mat-icon>search</mat-icon>
                    </button>
                    <button mat-button matTooltip="新增" class="btn" (click)="addItem()">
                        <mat-icon>add</mat-icon>
                    </button>
                </mat-card>
            </div>
        </div>
    </div>
    <!--顯示資料區域-->
    <div class="row">
        <div class="col-md-12">
            <div class="form-group pt-0 pb-2">
                <!--表格-->
                <mat-card class="card table">

                    <div class="table-container">
                        <table mat-table [dataSource]="datasSource" class="">
                            <!-- project_task_name -->
                            <ng-container matColumnDef="project_task_name">
                                <th mat-header-cell *matHeaderCellDef>專題任務名稱</th>
                                <td mat-cell *matCellDef="let element"> {{element.project_task_name}} </td>
                            </ng-container>
                            <!-- action_edit -->
                            <ng-container matColumnDef="action_edit">
                                <th mat-header-cell *matHeaderCellDef> 編輯 </th>
                                <td mat-cell *matCellDef="let element">
                                    <button mat-button (click)="editItem(element)">
                                        <mat-icon>edit</mat-icon>
                                    </button>
                                </td>
                            </ng-container>

                            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
                        </table>
                    </div>
                    <mat-paginator #paginator [length]="totalCount" [pageIndex]="0" [pageSize]="10"
                        [pageSizeOptions]="[5, 10, 15]" [showFirstLastButtons]="true">
                    </mat-paginator>

                </mat-card>
            </div>
        </div>
    </div>
</div>