<div class="offcanvas-header">
    <h2 class="offcanvas-title" id="offcanvasLabel">專案管理-新增</h2>
    <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Close" mat-dialog-close></button>
</div>
<form [formGroup]="addForm">
    <mat-dialog-content>
        
        <table cellspacing="0">
            <tr>
                <td>
                    <mat-form-field appearance="outline">
                        <mat-label>專案分類</mat-label>
                        <input type="text" placeholder="專案分類" aria-label="專案分類" matInput [matAutocomplete]="auto4"
                            [(ngModel)]="type" (ngModelChange)="selectProjectType()" formControlName="type" name="type" ngDefaultControl required>
                            <mat-error *ngIf="addForm.controls['type'].hasError('required')">
                                必填
                            </mat-error>
                        <mat-autocomplete #auto4="matAutocomplete">
                            <mat-option *ngFor="let item of projectType_option" [value]="item">
                                {{item}}
                            </mat-option>
                        </mat-autocomplete>
                    </mat-form-field>
                </td>
                <td>
                    <mat-form-field appearance="outline" *ngIf="type_status == true">
                        <mat-label>專案範本</mat-label>
                        <mat-select type="text" placeholder="專案範本" aria-label="專案範本" matInput [(ngModel)]="selectedTempalet" (ngModelChange)="getOneProjectTemplateRequest(selectedTempalet)" formControlName="selectedTempalet" name="selectedTempalet" ngDefaultControl>
                            <mat-option class="option-30" *ngFor="let item of PTarray" [value]="item.pt_id">
                                {{item.p_name}}
                            </mat-option>
                        </mat-select>
                        <mat-error *ngIf="addForm.controls['type'].hasError('required')">
                            必填
                        </mat-error>
                    </mat-form-field>
                </td>
            </tr>
        </table>
        <mat-form-field appearance="outline" class="w-100p">
            <mat-label>專案代號</mat-label>
            <input matInput type="text"  formControlName="code" [(ngModel)]="code" name="code" ngDefaultControl required>
            <mat-error *ngIf="addForm.controls['code'].hasError('required')">
                必填
            </mat-error>
        </mat-form-field>
        <mat-form-field appearance="outline" class="w-100p" >
            <mat-label>專案名稱</mat-label>
            <input matInput type="text"[(ngModel)]="p_name" formControlName="p_name" name="p_name"
                ngDefaultControl required>
        </mat-form-field>
        <table cellspacing="0">
            <tr>
                <td>
                    <mat-form-field appearance="outline">
                        <mat-label>專案負責人</mat-label>
                        <mat-select [(ngModel)]="projectman_id" formControlName="projectman_id"  name="projectman_id" ngDefaultControl required>
                            <mat-optgroup class="option-30" *ngFor="let group of accountgroup" [label]="group.name"
                                [disabled]="group.disabled">
                                <mat-option class="option-30" *ngFor="let account of group.account"
                                    [value]="account.account_id">
                                    {{account.name}}
                                </mat-option>
                            </mat-optgroup>
                        </mat-select>
                    </mat-form-field>
                </td>
                <td>
                    <mat-form-field appearance="outline">
                        <mat-label>年度</mat-label>
                        <input disabled matInput type="text" [value]="create_time">
                    </mat-form-field>
                </td>
            </tr>
        </table>
        <mat-form-field class="dateIpt-w" appearance="outline">
            <mat-label>專案起始日</mat-label>
            <input matInput [matDatepicker]="picker" [(ngModel)]="date_for_start" formControlName="date_for_start"
                name="date_for_start" ngDefaultControl required>
            <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
            <mat-datepicker #picker></mat-datepicker>
        </mat-form-field>
        <mat-form-field class="dateIpt-w ml-2" appearance="outline">
            <mat-label>專案結束日</mat-label>
            <input matInput [matDatepicker]="picker2" [(ngModel)]="date_for_end" formControlName="date_for_end"
                name="date_for_end" ngDefaultControl required>
            <mat-datepicker-toggle matSuffix [for]="picker2"></mat-datepicker-toggle>
            <mat-datepicker #picker2></mat-datepicker>
        </mat-form-field>
        <mat-list>
            <mat-list-item>
                <h4>建檔人員:</h4>
                <h4 class="text-context">{{creater_name}}</h4>
                <h4 class="ml-10">建檔單位:</h4>
                <h4 class="text-context">{{creater_dep}}</h4>
            </mat-list-item>
        </mat-list>
    </mat-dialog-content>
    <mat-dialog-actions class="text-center">
        <div class="">
            <button mat-button class="btn-normal-none reset" type="reset">回復重填</button>
            <button mat-button class="btn" (click)="addProjectType()">確認送出</button>
        </div>
    </mat-dialog-actions>
</form>

