<div class="container">
    <div class="row">
        <div class="col-md-12">
          <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
              <li class="breadcrumb-item"><a href="/main/dashboard">首頁</a></li>
              <li class="breadcrumb-item active">專案計畫管理</li>
              <li class="breadcrumb-item active" aria-current="page">專案紀錄簿</li>
            </ol>
          </nav>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12 text-center">
            <div class="left">
                <h1>
                    <mat-icon>description</mat-icon>
                    <span class="text-left">
                        專案紀錄簿
                    </span>
                </h1>
            </div>
        </div>
    </div>
    
    <div class="row">
        <div class="col-md-12 ">
            <div class="form-group pt-3 pb-0">
                <mat-card class="card search-group">
                    <mat-form-field appearance="outline">
                        <mat-label>專案代號</mat-label>
                        <input matInput type="text" name="">
                    </mat-form-field>
                    <mat-form-field appearance="outline">
                        <mat-label>專案名稱</mat-label>
                        <input matInput type="text" name="">
                    </mat-form-field>
                    <button mat-button id="" class="btn">
                        <mat-icon>search</mat-icon>
                    </button>
                    <button mat-button id="" class="btn">
                        <mat-icon>add</mat-icon>
                    </button>
                </mat-card>
            </div>
        </div>
    </div>
</div>
