@import '/src/scss/container_children';

.table-all-btn {
    background-color:rgb(196, 193, 191);
    width:50px;
  }
  
  .left-card {
    width:278px;
    height:1790px;
  }
  
  .right-card {
    width:870px;
    height:1790px;
  
  }
  
  .basic-card {
    width:250px;
    border:none;
    box-shadow:none;
  }
