@import '/src/scss/custom';
@import '/src/scss/container_children';

form {
    min-width: 420px;
    display: flex;
    flex-direction: column;
  }
  
  .dateIpt-w{
    width: 201px;
  }
  
  .ml-2{
    margin-left: 2px;
  }

  .timeIpt-w{
    width: 100px;
  }