<div class="offcanvas-header">
    <h2 class="offcanvas-title" id="offcanvasLabel">新建任務</h2>
    <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Close"
        mat-dialog-close></button>
</div>
<!--任務代號、任務名稱、任務描述、比較基準、任務時程-->

<form [formGroup]="addForm" style="width: 800px;">
    <mat-dialog-content>
        <div class="row">
            <div class="col-6">
                <table>
                    <tr>
                        <td>
                            <mat-form-field appearance="outline">
                                <mat-label>任務代號 </mat-label>
                                <input matInput placeholder="20210908" type="text" disabled>
                            </mat-form-field>
                        </td>
                        <td>
                            <mat-form-field appearance="outline">
                                <mat-label>任務名稱</mat-label>
                                <input matInput placeholder="請輸入任務名稱" type="text" [(ngModel)]="t_name"
                                    formControlName="t_name" name="t_name" ngDefaultControl required>
                            </mat-form-field>
                        </td>
                    </tr>
                </table>
                <!-- <mat-form-field appearance="outline" class="input-400">
                    <mat-label>*任務描述</mat-label>
                    <input matInput placeholder="請輸入任務描述" type="text" [(ngModel)]="remark" formControlName="remark"
                        name="remark" ngDefaultControl>
                </mat-form-field> -->
                <table>
                    <tr>
                        <td>
                            <mat-form-field appearance="outline">
                                <mat-label>前一個任務</mat-label>
                                <mat-select [(ngModel)]="last_task" formControlName="last_task" name="last_task"
                                    ngDefaultControl required>
                                    <mat-option *ngFor="let task of taskList" [value]="task.id">
                                        {{task.name}}
                                    </mat-option>
                                </mat-select>
                            </mat-form-field>
                        </td>
                        <td>
                            <mat-form-field appearance="outline">
                                <mat-label>主要負責人</mat-label>
                                <mat-select [(ngModel)]="principal_id" formControlName="user_id" name="user_id"
                                    ngDefaultControl required>
                                    <mat-optgroup class="option-30" *ngFor="let group of accountgroup" [label]="group.name"
                                        [disabled]="group.disabled">
                                        <mat-option class="option-30" *ngFor="let account of group.account" [value]="account.account_id">
                                            {{account.name}}
                                        </mat-option>
                                    </mat-optgroup>
                                </mat-select>
                            </mat-form-field>
                        </td>
                    </tr>
                </table>
                <table>
                    <tr>
                        <td>
                            <mat-form-field class="dateIpt-w" appearance="outline">
                                <mat-label>任務起始日</mat-label>
                                <input matInput [matDatepicker]="picker1" [(ngModel)]="date_for_estimated_start"
                                    formControlName="date_for_estimated_start" name="date_for_estimated_start"
                                    ngDefaultControl required>
                                <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
                                <mat-datepicker #picker1></mat-datepicker>
                            </mat-form-field>
                        </td>
                        <td>
                            <mat-form-field class="dateIpt-w" appearance="outline">
                                <mat-label>任務結束日</mat-label>
                                <input matInput [matDatepicker]="picker2" [(ngModel)]="date_for_estimated_completion"
                                    formControlName="date_for_estimated_completion" name="date_for_estimated_completion"
                                    ngDefaultControl required>
                                <mat-datepicker-toggle matSuffix [for]="picker2"></mat-datepicker-toggle>
                                <mat-datepicker #picker2></mat-datepicker>
                            </mat-form-field>
                        </td>
                    </tr>
                </table>
                <table>
                    <tr>
                        <td>
                            <mat-form-field appearance="outline">
                                <mat-label>任務參與人員</mat-label>
                                <mat-select [(value)]="userid" [(ngModel)]="user_id" formControlName="user_id"
                                    name="user_id" ngDefaultControl required>
                                    <mat-optgroup *ngFor="let group of accountgroup" [label]="group.name"
                                        [disabled]="group.disabled">
                                        <mat-option *ngFor="let account of group.account" [value]="account.account_id">
                                            {{account.name}}
                                        </mat-option>
                                    </mat-optgroup>
                                </mat-select>
                            </mat-form-field>
                        </td>
                        <td>
                            <button mat-button class="btn-normal-none ml-10" (click)="addSelectUser()">
                                <mat-icon>add</mat-icon>
                            </button>
                        </td>
                    </tr>
                </table>
                <mat-checkbox matInput [(ngModel)]="file" formControlName="file" ngDefaultControl name="file">附件
                </mat-checkbox>
                <mat-checkbox matInput class="ml-10" [(ngModel)]="landmark" formControlName="landmark" ngDefaultControl
                    name="landmark">里程碑</mat-checkbox>
            </div>
            <div class="col-5" style="height:400px;margin: auto;">
                <mat-card class="card bg-import" style="min-height: 400px;display: block;">
                    <div class="row">
                        <div class="col">
                            <b>
                                <h4>
                                    參與人員列表:({{num}})
                                </h4>
                            </b>
                        </div>
                    </div>
                    <div class="row" *ngFor="let i of selectUserNameList;let index=index">
                        <div class="col mt-2 ml-2">
                            <span>
                                {{index+1}}:{{i}}
                            </span>
                            <button mat-button (click)="deleteSelectUser(index)">
                                <mat-icon>delete</mat-icon>
                            </button>
                        </div>
                    </div>
                </mat-card>
            </div>
        </div>
    </mat-dialog-content>
    <mat-dialog-actions>
        <button mat-button class="btn-normal-none reset" type="reset" (click)="reset()">清除</button>
        <button mat-button class="btn" (click)="addTaskRequest()">儲存</button>

    </mat-dialog-actions>
</form>