// @import '/src/scss/container_children';
// @import '/src/scss/custom';
// .example-h2 {
//   margin: 10px;
// }

// .example-section {
//   display: flex;
//   align-content: center;
//   align-items: center;
//   height: 60px;
// }

// .example-margin {
//   margin: 0 10px;
// }
// .mat-tab-group {
//   margin-bottom: 48px;
// }
// mat-form-field{
//   margin-top: 10px;
// }
// .Classification{
//   width: 200px;
//   margin-left: 16px;
//   margin-right: 20px;
// }
// .replied_date{
//   width:400px;
//   margin-left: 16px;
// }
// .summary_description{
//   width:400px;
//   margin-left: 16px;
//   margin-top: -30px;
//   height: 200px;
// }
// .form_text{
//   margin-left: 13px;
//   margin-top: 15px;
// }
// .name{
//   color: #3f5eb5;
// }
// .date{
//   margin-right: 20px;
//   color: #6ea7fc;
// }
// .handling_situation{
//   width: 330px;
//   margin-left: -10px;
// }
// .line{
//   margin-top: -10px;
// }
// .text-context-date{
//   margin-left: 20px;
// }



@import '/src/scss/container_children';

.btn-delete {
    overflow: hidden;
    color: #fff;
    background-color: #FF5151;
    box-shadow: rgb(194 202 211) 0px 0px 0px 1px, rgb(28 32 43 / 10%) 0px 1px 0px 0px;
    border: black;
    margin-left: 10px;
}

.text-context {
    font-weight: 500;
    color: #000;
    line-height: 24px;
    margin-left: 15px;
}

// h3 {
//     color: #1a73e8;
//     font-weight: bold;
// }