@import '/src/scss/custom';
@import '../department.component.scss';

.mat-radio-button ~ .mat-radio-button {
  margin-left: 16px;
}
.card-h{
  width: 425px;
}
.offcanvas-title{
  margin-left: -18px;
}
.form-h{
  width: 420px;
}
.mat-typography{
  padding-top: 10px;
}
.select_2{
    width:410px;
    margin-right: 10px;
}

.input_1{
  width:200px;
  margin-right: 10px;
}

.select_1{
  width:200px;
  margin-right: 10px;
}
