<div class="offcanvas-header">
    <h2 class="offcanvas-title" id="offcanvasLabel">專案產銷-新增(正式專案)</h2>
    <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Close" mat-dialog-close></button>
</div>
<form [formGroup]="addForm" style="width: 300px;">
    <mat-dialog-content>

        <div class="row">
            <div class="col">
                <mat-form-field appearance="outline" style="width: 300px;">
                    <mat-label>專案代號</mat-label>
                    <input type="text" aria-label="Number" matInput [formControl]="myControl"
                    [(ngModel)]="project_code" name="project_code">
                </mat-form-field>
            </div>
        </div>

        <!-- <h4>{{selectedTempalet}}</h4> -->
        <!-- <mat-form-field appearance="outline" readonly>
            <mat-label>摘要說明</mat-label>
            <input matInput type="text" [(ngModel)]="summary_description"
            formControlName="summary_description" name="summary_description" ngDefaultControl>
            
        </mat-form-field> -->
        <!-- <mat-form-field appearance="outline" class="w-100p" >
            <mat-label>專案名稱</mat-label>
            <input matInput type="text"[(ngModel)]="p_name" formControlName="p_name" name="p_name"
                ngDefaultControl required>
        </mat-form-field> -->
        <!-- <h4>{{summary_description}}</h4> -->
    </mat-dialog-content>
    <mat-dialog-actions class="text-center">
        <div class="">
            <button mat-button class="btn-normal-none reset" type="reset">取消</button>
            <button mat-button class="btn" (click)="checkproject()">新增</button>
        </div>
    </mat-dialog-actions>
</form>

