<div class="container" class="detail-container">
    <div class="offcanvas-header">
        <h2 class="offcanvas-title" id="offcanvasLabel">表格細項</h2>
        <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Close"
            mat-dialog-close></button>
    </div>
    <mat-dialog-content>
        <div class="row">
            <div class="col">
                <mat-list>
                    <mat-list-item>
                        <h4><b>專案代號:</b></h4>
                        <h4>A001-001</h4>
                    </mat-list-item>
                    <mat-list-item>
                        <h4><b>客戶:</b></h4>
                        <h4>ASE高雄</h4>
                    </mat-list-item>
                    <mat-list-item>
                        <h4><b>專案負責人:</b></h4>
                        <h4>E001-1</h4>
                    </mat-list-item>
                    <mat-list-item>
                        <h4><b>客服負責人:</b></h4>
                        <h4>E001</h4>
                    </mat-list-item>
                    <mat-list-item>
                        <h4><b>出機日:</b></h4>
                        <h4>2021-06-27</h4>
                    </mat-list-item>
                    <mat-list-item>
                        <h4><b>實際完成日:</b></h4>
                        <h4>2021-06-27</h4>
                    </mat-list-item>
                </mat-list>
            </div>
        </div>
    </mat-dialog-content>
    <mat-dialog-actions>
        <button mat-button class="btn-normal-none reset" type="reset" mat-dialog-close>關閉</button>
    </mat-dialog-actions>
</div>