@import '/src/scss/container_children';
@import '/src/scss/custom';
// @import "~@worktile/gantt/main.bundle.scss";

body{
    position: absolute;
    top:0;
    bottom: 0;
    left: 0;
    right:0;

    
}