<div class="container">
    <div class="row">
        <div class="col-md-12">
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="/main/dashboard">首頁</a></li>
                    <li class="breadcrumb-item active">專案工時管理</li>
                    <li class="breadcrumb-item active" aria-current="page">個人工時異動作業</li>
                </ol>
            </nav>
        </div>
    </div>
    <!--標題-->
    <div class="row">
        <div class="col-md-12 text-center">
            <div class="left">
                <h1>
                    <mat-icon>edit</mat-icon>
                    <span class="text-left">
                        個人工時異動作業
                    </span>
                </h1>
            </div>
        </div>
    </div>
    <!--查詢區域-->
    <div class="row">
        <div class="col-md-12 ">
            <div class="form-group pt-3 pb-0">
                <form [formGroup]="selectForm">
                    <mat-card class="card search-group">
                        <mat-form-field appearance="outline">
                            <mat-label>類別</mat-label>
                            <mat-select [(ngModel)]="origin_id" (ngModelChange)="selectedTidOriginValue()"
                                formControlName="origin_id" name="origin_id" ngDefaultControl required>
                                <mat-option *ngFor="let item of workType_option" [value]="item.value">
                                    {{item.key}}
                                </mat-option>
                            </mat-select>
                        </mat-form-field>
                        <mat-form-field appearance="outline">
                            <mat-label>類別項目</mat-label>
                            <mat-select [(ngModel)]="category" (ngModelChange)="selectedTidValue()" formControlName="category"
                                name="category" matTooltip="請先選擇類別!" ngDefaultControl required>
                                <mat-option *ngFor="let item of tId_option" [value]="item.value">
                                    {{item.super_name}}-{{item.sub_name}}
                                </mat-option>
                            </mat-select>
                        </mat-form-field>
                        <!-- <mat-form-field appearance="outline">
                            <mat-label>員工編號</mat-label>
                            <input matInput type="text" name="client-name">
                        </mat-form-field>
                        <mat-form-field appearance="outline">
                            <mat-label>工時表日期</mat-label>
                            <input matInput type="text" name="project-id">
                        </mat-form-field> -->
                        <!-- <button mat-button id="" class="btn-normal-none">查詢</button> -->
                    </mat-card>
                </form>

            </div>
        </div>
    </div>
    <!--新增區域-->
    <div class="row">
        <div class="col-md-6">
            <form [formGroup]="addForm">
                <mat-card class="card search-group">
                    <!-- <div class="row text-center">
                        <mat-form-field appearance="outline" class="display-none">
                            <mat-label>工時類別</mat-label>
                            <mat-select [(ngModel)]="origin_id" (ngModelChange)="selectedValue()"
                                formControlName="origin_id" name="origin_id" ngDefaultControl>
                                <mat-option *ngFor="let item of workType_option" [value]="item.value">
                                    {{item.key}}
                                </mat-option>
                            </mat-select>
                        </mat-form-field>
                        <div class="col">
                            <mat-form-field appearance="outline">
                                <mat-label>類別項目</mat-label>
                                <mat-select [(ngModel)]="category" formControlName="category" name="category"
                                    matTooltip="請先選擇類別!" ngDefaultControl>
                                    <mat-option *ngFor="let item of task_option" [value]="item.value">
                                        {{item.p_name}}-{{item.key}}
                                    </mat-option>
                                </mat-select>
                            </mat-form-field>
                        </div>
                    </div> -->
                    <div class="row">
                        <div class="col">
                            <mat-form-field appearance="outline" class="">
                                <mat-label>*主題</mat-label>
                                <input matInput placeholder="請輸入任務描述" type="text" formControlName="h_title"
                                    [(ngModel)]="h_title" name="h_title" ngDefaultControl>
                            </mat-form-field>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col">
                            <mat-form-field appearance="outline">
                                <mat-label>*性質</mat-label>
                                <mat-select formControlName="nature" [(ngModel)]="nature" name="nature"
                                    ngDefaultControl>
                                    <mat-option *ngFor="let item of workNature_option" [value]="item" matInput>
                                        {{item}}
                                    </mat-option>
                                </mat-select>
                            </mat-form-field>
                        </div>
                        <div class="col">
                            <mat-form-field appearance="outline">
                                <mat-label>*機台序號</mat-label>
                                <input matInput placeholder="請輸入機台序號" type="text">
                            </mat-form-field>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col">
                            <mat-form-field class="dateIpt-w" appearance="outline">
                                <mat-label>*日期</mat-label>
                                <input matInput [matDatepicker]="picker1" formControlName="date_for_start"
                                    [(ngModel)]="date_for_start" name="date_for_start" ngDefaultControl>
                                <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
                                <mat-datepicker #picker1></mat-datepicker>
                            </mat-form-field>
                        </div>
                        <div class="col">
                            <mat-form-field class="timeIpt-w" appearance="outline">
                                <mat-label>*起始時間</mat-label>
                                <input type="number" placeholder="起始時間" aria-label="起始時間" matInput
                                    [matAutocomplete]="auto2" formControlName="time_for_start"
                                    [(ngModel)]="time_for_start" name="time_for_start" ngDefaultControl>
                                <mat-autocomplete #auto2="matAutocomplete">
                                    <mat-option *ngFor="let item of workTime_option" [value]="item">
                                        {{item}}
                                    </mat-option>
                                </mat-autocomplete>
                            </mat-form-field>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col">
                            <mat-form-field class="timeIpt-w ml-2" appearance="outline">
                                <mat-label>*結束時間</mat-label>
                                <input type="number" placeholder="結束時間" aria-label="結束時間" matInput
                                    [matAutocomplete]="auto3" formControlName="time_for_end" [(ngModel)]="time_for_end"
                                    name="time_for_end" ngDefaultControl>
                                <mat-autocomplete #auto3="matAutocomplete">
                                    <mat-option *ngFor="let item of workTime_option" [value]="item">
                                        {{item}}
                                    </mat-option>
                                </mat-autocomplete>
                            </mat-form-field>
                        </div>
                        <div class="col">
                            <mat-form-field appearance="outline">
                                <mat-label>*工時</mat-label>
                                <input type="number" placeholder="工時" aria-label="工時" matInput [matAutocomplete]="auto4"
                                    formControlName="laborhour" [(ngModel)]="laborhour" name="laborhour"
                                    ngDefaultControl>
                                <mat-autocomplete #auto4="matAutocomplete">
                                    <mat-option *ngFor="let item of laborHour_option" [value]="item">
                                        {{item}}
                                    </mat-option>
                                </mat-autocomplete>
                            </mat-form-field>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col">
                            <mat-form-field appearance="outline" class="ml-2">
                                <mat-label>*內容</mat-label>
                                <textarea matInput id="" formControlName="content" [(ngModel)]="content" name="content"
                                    ngDefaultControl></textarea>
                            </mat-form-field>
                        </div>
                    </div>

                </mat-card>
            </form>

        </div>
        <div class="col-md-6">
            <mat-card style="height:440px">
                <div class="table-container">
                    <div class="table">
                        <table mat-table [dataSource]="laborHourDataSource" class="">
                            <!-- h_title -->
                            <ng-container matColumnDef="h_title">
                                <th mat-header-cell *matHeaderCellDef class="display-none">h_title
                                </th>
                                <td mat-cell *matCellDef="let element" class="display-none">
                                    {{element.title}}
                                </td>
                            </ng-container>
                            <!-- nature -->
                            <ng-container matColumnDef="nature">
                                <th mat-header-cell *matHeaderCellDef>工作項目</th>
                                <td mat-cell *matCellDef="let element">
                                    [{{element.nature}}]{{element.title}}
                                </td>
                            </ng-container>
                            <!-- date_for_start -->
                            <ng-container matColumnDef="date_for_start">
                                <th mat-header-cell *matHeaderCellDef>日期</th>
                                <td mat-cell *matCellDef="let element">
                                    {{element.date_for_start | date: 'yyyy/MM/dd'}}
                                </td>
                            </ng-container>
                            <!-- time_start -->
                            <ng-container matColumnDef="time_for_start">
                                <th mat-header-cell *matHeaderCellDef>時間</th>
                                <td mat-cell *matCellDef="let element">
                                    <!--{{element.time_for_start}}~{{element.time_for_end}}({{element.hour}})-->
                                    {{element.time_for_start}}~{{element.time_for_end}}[{{element.laborhour}}]
                                </td>
                            </ng-container>
                            <!-- time_for_end -->
                            <ng-container matColumnDef="time_for_end">
                                <th mat-header-cell *matHeaderCellDef class="display-none">
                                    time_for_end
                                </th>
                                <td mat-cell *matCellDef="let element" class="display-none">
                                    {{element.time_for_end}}
                                </td>
                            </ng-container>
                            <!-- hour -->
                            <!-- <ng-container matColumnDef="hour">
                                <th mat-header-cell *matHeaderCellDef class="display-none">時數</th>
                                <td mat-cell *matCellDef="let element" class="display-none">
                                    {{element.hour}}
                                </td>
                            </ng-container> -->
                            <!--action_edit-->
                            <ng-container matColumnDef="action_edit">
                                <th mat-header-cell *matHeaderCellDef class="text-center"> </th>
                                <td mat-cell *matCellDef="let element;let index = index" class="text-center">
                                    <button mat-mini-fab color="basic" class="table-btn-none"
                                        (click)="doPostEdit(element.h_id)">
                                        <mat-icon>edit</mat-icon>
                                    </button>
                                </td>
                            </ng-container>
                            <!-- delete -->
                            <ng-container matColumnDef="action_delete">
                                <th mat-header-cell *matHeaderCellDef class="text-center"> </th>
                                <td mat-cell *matCellDef="let element;let index = index" class="text-center">
                                    <button mat-mini-fab color="basic" class="table-btn-none"
                                        (click)="deleteLaborHour(element.h_id)">
                                        <mat-icon>delete</mat-icon>
                                    </button>
                                </td>
                            </ng-container>
                            <!-- file -->
                            <ng-container matColumnDef="action_file">
                                <th mat-header-cell *matHeaderCellDef class="display-none"> </th>
                                <td mat-cell *matCellDef="let element;let index = index" class="display-none">
                                    <button mat-mini-fab color="basic" class="table-btn-none">
                                        <mat-icon>attach_file</mat-icon>
                                    </button>
                                </td>
                            </ng-container>

                            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                            <tr mat-row *matRowDef="let row; columns: displayedColumns;"> </tr>
                        </table>
                        <mat-paginator #paginator [length]="totalCount" [pageIndex]="0" [pageSize]="6"
                            [pageSizeOptions]="[6, 12, 18]" [showFirstLastButtons]="true">
                        </mat-paginator>
                    </div>
                </div>
            </mat-card>

        </div>
    </div>
    <div class="row">
        <div class="col">
            <mat-card>
                <button mat-button *ngIf="btnStatus==false" class="btn" type="reset" (click)="addLaborHourRequest()">儲存</button>
                
                <button mat-button class="btn-normal reset" type="reset" (click)="btnResetClick()">清除</button>
                <!--style="visibility:hidden"-->
                <button mat-button *ngIf="modify_status==true" class="btn" type="reset" (click)="addLaborHourModifyRequest()">異動送審</button>
                <button mat-button *ngIf="btnStatus==true && modify_status==false" class="btn" type="reset" (click)="updateLaborHourRequest()">更新</button>
                <button mat-button class="btn" *ngIf="btnStatus==true && modify_status==false" type="reset" (click)="addLaborHourRequest()">轉新增</button>
            </mat-card>
        </div>
    </div>
</div>