<div class="offcanvas-header">
  <h2 class="offcanvas-title" id="offcanvasLabel">編輯會議</h2>
  <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Close"
    mat-dialog-close></button>
</div>
<!--任務代號、任務名稱、任務描述、比較基準、任務時程-->
<mat-dialog-content>
  <div class="row" style="width: 900px;">
    <div class="col-6">
      <form [formGroup]="editMeetForm" *ngIf="meetDatas">
        <mat-form-field appearance="outline" class="input-400">
          <mat-label>會議主題</mat-label>
          <input matInput type="text" placeholder="請輸入會議主題" type="text" [(ngModel)]="meetDatas.body.m_name"
            formControlName="m_name" name="m_name" ngDefaultControl>
        </mat-form-field>
        <table>
          <tr>
            <td>
              <mat-form-field appearance="outline" class="dateIpt-w">
                <mat-label>會議日期</mat-label>
                <input matInput [matDatepicker]="picker" placeholder="請輸入會議日期" type="text"
                  [(ngModel)]="meetDatas.body.date_for_start" formControlName="date_for_start" name="date_for_start"
                  ngDefaultControl>
                <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                <mat-datepicker #picker></mat-datepicker>
              </mat-form-field>
            </td>
            <td>
              <!-- <mat-form-field appearance="outline">
                      <mat-label>會議地點</mat-label>
                      <mat-select disableRipple placeholder="請輸入會議地點" type="text" [(ngModel)]="meetDatas.message.room" formControlName="room"  name="room" ngDefaultControl>
                          <mat-option value="1">會客室</mat-option>
                          <mat-option value="2">小會議室</mat-option>
                          <mat-option value="3">VIP室</mat-option>
                      </mat-select>
                  </mat-form-field> -->
              <mat-form-field class="example-full-width" appearance="outline">
                <mat-label>會議地點</mat-label>
                <input type="text" placeholder="會議地點" aria-label="會議地點" matInput [matAutocomplete]="auto"
                  [(ngModel)]="meetDatas.body.room" formControlName="room" name="room" ngDefaultControl>
                <mat-autocomplete #auto="matAutocomplete">
                  <mat-option *ngFor="let item of room_option" [value]="item">
                    {{item}}
                  </mat-option>
                </mat-autocomplete>
              </mat-form-field>

            </td>
          </tr>
        </table>
        <table>
          <tr>
            <td>
              <!-- <mat-form-field appearance="outline" class="w-100p">
                <mat-label>開始時間</mat-label>
                <input matInput type="text" placeholder="開始時間" type="text"  [(ngModel)]="meetDatas.body.time_for_start" formControlName="time_for_start"  name="time_for_start" ngDefaultControl>
              </mat-form-field> -->
              <mat-form-field class="example-full-width" appearance="outline">
                <mat-label>開始時間</mat-label>
                <input type="text" placeholder="開始時間" aria-label="開始時間" matInput [matAutocomplete]="auto2"
                  [(ngModel)]="meetDatas.body.time_for_start" formControlName="time_for_start" name="time_for_start"
                  ngDefaultControl>
                <mat-autocomplete #auto2="matAutocomplete">
                  <mat-option *ngFor="let item of time_option" [value]="item">
                    {{item}}
                  </mat-option>
                </mat-autocomplete>
              </mat-form-field>
            </td>
            <td>
              <mat-form-field class="example-full-width" appearance="outline">
                <mat-label>結束時間</mat-label>
                <input type="text" placeholder="結束時間" aria-label="結束時間" matInput [matAutocomplete]="auto2"
                  [(ngModel)]="meetDatas.body.time_for_end" formControlName="time_for_end" name="time_for_end"
                  ngDefaultControl>
                <mat-autocomplete #auto2="matAutocomplete">
                  <mat-option *ngFor="let item of time_option" [value]="item">
                    {{item}}
                  </mat-option>
                </mat-autocomplete>
              </mat-form-field>
            </td>
          </tr>
        </table>
      </form>
      <form [formGroup]="editChairmanForm" *ngIf="attendeePrincipalIdDatas">
        <table>
          <tr>
            <td>
              <!-- <mat-form-field appearance="outline">
                <mat-label>會議主席</mat-label>
                <mat-select [(ngModel)]="attendeePrincipalNameDatas" formControlName="attendeePrincipalNameDatas"
                  name="attendeePrincipalNameDatas" ngDefaultControl>
                  <mat-option *ngFor="let user of userList" [value]="user.id">
                    {{user.name}}
                  </mat-option>
                </mat-select>
              </mat-form-field> -->

              <mat-form-field appearance="outline" class="people-form-field">
                <mat-label>會議主席</mat-label>
                <mat-select [(value)]="attendeePrincipalIdDatas" [(ngModel)]="attendeePrincipalIdDatas" formControlName="attendeePrincipalIdDatas"  name="attendeePrincipalIdDatas" ngDefaultControl>
                    <mat-optgroup *ngFor="let group of accountgroup" [label]="group.name"
                        [disabled]="group.disabled">
                        <mat-option *ngFor="let account of group.account"
                            [value]="account.account_id">
                            {{account.name}}
                        </mat-option>
                    </mat-optgroup>
                </mat-select>
              </mat-form-field>
            </td>
          </tr>
        </table>
        <table>
          <tr>
            <td>
              <!-- <mat-form-field appearance="outline">
                <mat-label>會議參與人員</mat-label>
                <mat-select [(value)]="userid" [(ngModel)]="user_id" formControlName="user_id" name="user_id"
                  ngDefaultControl>
                  <mat-option *ngFor="let user of userList" [value]="user.id">
                    {{user.name}}
                  </mat-option>
                </mat-select>
              </mat-form-field> -->
              <mat-form-field appearance="outline" class="people-form-field">
                <mat-label>會議參與人員</mat-label>
                <mat-select [(value)]="userid" [(ngModel)]="userid" formControlName="userid"  name="userid" ngDefaultControl>
                    <mat-optgroup *ngFor="let group of accountgroup" [label]="group.name"
                        [disabled]="group.disabled">
                        <mat-option *ngFor="let account of group.account"
                            [value]="account.account_id">
                            {{account.name}}
                        </mat-option>
                    </mat-optgroup>
                </mat-select>
              </mat-form-field>
            </td>
            <td>
              <button mat-button class="btn-normal-none ml-10" (click)="addSelectUser()">
                <mat-icon>add</mat-icon>
              </button>
            </td>
          </tr>
        </table>
      </form>
    </div>
    <div class="col-5">
      <mat-card class="card bg-import" style="min-height: 400px;display: block;">
        <div class="row">
          <div class="col">
            <b>
              <h4>
                參與人員列表:({{num}})
              </h4>
            </b>
          </div>
        </div>
        <div class="row" *ngFor="let i of attendeeUserNameDatas;let index=index">
          <div class="col mt-2 ml-2">
            <span>
              {{index+1}}:{{i}}
            </span>
            <button mat-button (click)="deleteSelectUser(index)">
              <mat-icon>delete</mat-icon>
            </button>
          </div>
        </div>
      </mat-card>
    </div>
  </div>


</mat-dialog-content>

<mat-dialog-actions>
  <button mat-button class="btn-normal-none reset" type="reset">清除</button>
  <button mat-button class="btn" (click)="updateMeetRequest()">儲存</button>
</mat-dialog-actions>