<div class="offcanvas-header">
    <h2 class="offcanvas-title" id="offcanvasLabel">{{taskname}}</h2>
    <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Close"
        mat-dialog-close></button>
</div>

<mat-dialog-content>
    <div class="row" style="width: 430px;">
        <div class="col-5">
            <form [formGroup]="addForm">
                <table>
                    <tr>
                        <td>
                            <mat-form-field appearance="outline">
                                <mat-label>參與人員</mat-label>
                                <mat-select [(value)]="userid" [(ngModel)]="user_id" formControlName="user_id"
                                    name="user_id" ngDefaultControl>
                                    <mat-optgroup *ngFor="let group of accountgroup" [label]="group.name"
                                        [disabled]="group.disabled">
                                        <mat-option *ngFor="let account of group.account" [value]="account.account_id">
                                            {{account.name}}
                                        </mat-option>
                                    </mat-optgroup>
                                </mat-select>
                            </mat-form-field>
                        </td>
                        <td>
                            <button mat-button [disabled]="isReadOnly" class="btn-normal-none ml-10" (click)="addSelectUser()">
                                <mat-icon>add</mat-icon>
                            </button>
                        </td>
                    </tr>
                </table>
            </form>
            <mat-card class="card bg-import" style="min-height: 300px; width:400px; display: block;">
                <div class="row">
                    <div class="col">
                        <b>
                            <h4>
                                參與人員列表:({{num}})
                            </h4>
                        </b>
                    </div>
                </div>
                <div class="row" *ngFor="let i of taskUserNameDatas;let index=index">
                    <div class="col mt-2 ml-2">
                        <span>
                            {{index+1}}:{{i}}
                        </span>
                        <button mat-button [disabled]="isReadOnly" (click)="deleteSelectUser(index)">
                            <mat-icon>delete</mat-icon>
                        </button>
                    </div>
                </div>
            </mat-card>
        </div>
    </div>
</mat-dialog-content>
<mat-dialog-actions>
    <button mat-button [disabled]="isReadOnly" class="btn" (click)="updateDatas()">儲存</button>
</mat-dialog-actions>