@import '/src/scss/custom';
@import '/src/scss/container_children';


form {
    min-width: 400px;
    display: flex;
    flex-direction: column;
  }
  
  .dateIpt-w{
    width: 201px;
  }
  
  .ml-2{
    margin-left: 2px;
  }
  .input-400{
    width: 405px;
  }
  .bg-import{
    display: block;
    background: rgb(225, 225, 225);
    border-radius: 10px;
    padding: 15px;
    padding-bottom: 0;
    //height: 400px;  
    min-height: 400px;
    h4{
        margin-bottom: 5px;
    }
  }
