<div class="offcanvas-header">
    <h2 class="offcanvas-title" id="offcanvasLabel">
        <b>
            ***2021/10 Daily Report 部門事務
        </b>
    </h2>
    <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Close" mat-dialog-close></button>
</div>
<form style="width: 450px;">
    <mat-dialog-content>
        <div class="container">
            <div class="row">
                <mat-card class="card bg-light">
                    <mat-list>
                        <mat-list-item>
                            <b>
                                工作內容:
                            </b>
                            <mat-divider></mat-divider>
                        </mat-list-item>
                        <mat-list-item>
                            任務分派與工作討論
                            <mat-divider></mat-divider>
                        </mat-list-item>
                        <mat-list-item>
                            任務銜接
                            <mat-divider></mat-divider>
                        </mat-list-item>
                        <mat-list-item>
                            客戶拜訪紀錄
                            <mat-divider></mat-divider>
                        </mat-list-item>
                    </mat-list>
                    <br>
                    <br>
                    <br>
                    <br>
                </mat-card>
            </div>
        </div>
    </mat-dialog-content>
</form>
<br>
<br>
<br>
<br>
<br>
<br>
